---
import Head from './Head.astro';

import "../styles/global.scss";
import Nav from '../components/Nav.astro';

interface Props{
    title: string;
	description: string;
}

const { title, description }: Props = Astro.props;
---
<html lang="sr" style={{
    maxWidth: "1200px",
    minWidth: "320px",
    margin: "0 auto",
}}>
	<Head title={title} description={description} />
    <Nav />
	<body style={{marginTop:"80px"}}>
        <slot>
            Default content
        </slot>
	</body>
    <div id="modal" style={{
        display: "none",
        position: "fixed",
        top: "0",
        left: "0",
        width: "100%",
        height: "100%",
        backgroundColor: "rgba(0,0,0,0.5)",
        zIndex: "100",
        overflow: "auto",
    }}/>
</html>

